
<div *ngIf="isLoading" class="d-flex justify-content-center mt-5">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div class="mb-3">
  <label for="filterText" class="form-label">Ara</label>
  <input [(ngModel)] ="filterText" 
  type="text" class="form-control" 
  id="filterText" placeholder="Ürün adı giriniz">
</div>
<div *ngIf="filterText" class="alert alert-success">
  {{filterText}} aradınız.
</div>

<table class="table" *ngIf="!isLoading && products.length > 0">
  <thead>
    <tr>
      <th>Ürün Id</th>
      <th>Kategori Id</th>
      <th>Ürün Adı</th>
      <th>Birim Fiyatı</th>
      <th>KDV'li</th>
      <th>Stok Adedi</th>
      <th>Fotoğraf</th>
      <th>Açıklama</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products | filterPipe:filterText">
      <td>{{product.productId}}</td>
      <td>{{product.categoryId}}</td>
      <td>{{product.productName |uppercase }}</td>
      <td>{{product.price | currency }} </td>
      <td>{{product.price | vatAdded:18 | currency }}</td>
      <td>{{product.unitsInStock}}</td>
      <td><img [src]="product.picture" width="100" height="100" /></td>
      <td>{{product.description}}</td>
    </tr>
  </tbody>
</table>

<!-- Eğer veri yoksa kullanıcıya bilgi ver -->
<div *ngIf="!isLoading && products.length === 0" class="alert alert-info mt-4">
  Products not found
</div>
